/* KeyPointsResponsive.css */

.evolvi-image {
  background-size: 270px;
}

.webble-image {
  background-size: 170px;
}

.figma-image {
  background-size: 90px;
}

@media (min-width: 480px) {
  .evolvi-image {
    background-size: 350px;
  }

  .webble-image {
    background-size: 220px;
  }

  .figma-image {
    background-size: 120px;
  }
}

.icon-servizi {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon-servizi-desktop {
  display: none;
}

@media (min-width: 547px) {
  .icon-servizi {
    display: none;
  }

  .icon-servizi-desktop {
    display: block;
  }
}

@media (min-width: 768px) {
  .icon-servizi {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .icon-servizi-desktop {
    display: none;
  }
}

@media (min-width: 1086px) {
  .icon-servizi {
    display: none;
  }

  .icon-servizi-desktop {
    display: block;
  }
}
